@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Models.bootstrap
@model BootstrapViewComponentsRazorLibrary.Models.bootstrap.NavItemModel
@{
    string set_css_class = (Model.StringCSS + " nav-link" + (Model.IsActive ? " active" : "")).Trim();
    set_css_class += Model.IsActive ? " active" : "";
}
@if (Model.ChildsCount > 0)
{
    set_css_class += " dropdown-toggle";
    Model.SetAttribute("data-toggle", "dropdown");
    Model.SetAttribute("role", "button");
    Model.SetAttribute("aria-haspopup", "true");
    Model.SetAttribute("aria-expanded", "false");
    Model.SetAttribute("", "");
}
@if (Model.IsDisabled)
{
    set_css_class += " disabled";
    Model.SetAttribute("tabindex", "-1");
    Model.SetAttribute("aria-disabled", "true");
}
<a class="@set_css_class" href="@Html.Raw(Model.Href)" @Html.Raw(Model.StringAttributes)>@Model.Header</a>
@if (Model.ChildsCount > 0)
{
    <div class="dropdown-menu">
        @foreach (NavItemModel navItem in Model.GetChilds())
        {
            if (navItem is null)
            {
                <div class="dropdown-divider"></div>
            }
            else
            {
                <a class="dropdown-item" href="@navItem.Href">@navItem.Header</a>
            }
        }
    </div>
}