@*© https://github.com/badhitman - @fakegov*@
@using BootstrapViewComponentsRazorLibrary.Models.bootstrap
@model BootstrapViewComponentsRazorLibrary.Models.bootstrap.NavItemModel
<a @Html.Raw(Model.StringAttributes) class="@Model.StringCSS" href="@Html.Raw(Model.Href)">@Html.Raw(Model.Header)</a>
@if (Model.ChildsCount > 0)
{
    <div class="dropdown-menu">
        @foreach (NavItemModel navItem in Model.GetChilds())
        {
            if (navItem is null)
            {
                <div class="dropdown-divider"></div> }
            else
            {
                <a class="dropdown-item" href="@navItem.Href">@navItem.Header</a>
            }
        }
    </div>
}